services:
    backend:
        build: ./backend
        restart: always
        expose:
            - "8080"

    engine:
        build: ./engine
        restart: always
        expose:
            - "5000"

    frontend:
        build: ./frontend
        restart: always
        expose:
            - "3000"
        environment:
            - HOSTNAME=0.0.0.0
            - PORT=3000

    nginx:
        image: nginx:alpine
        ports:
            - "80:80"
        volumes:
            - ./nginx/local.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - backend
            - frontend
        restart: always