services:
    backend:
        build: ./backend
        restart: always
        expose:
            - "8080"

    engine:
        build: ./engine
        restart: always
        expose:
            - "5000"

    frontend:
        build: ./frontend
        restart: always
        expose:
            - "3000"
        environment:
            - HOSTNAME=0.0.0.0
            - PORT=3000

    nginx:
        image: nginx:alpine
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx/cioran.conf:/etc/nginx/conf.d/default.conf:ro
            - ./certbot/conf:/etc/letsencrypt:ro
            - ./certbot/www:/var/www/certbot:ro
        depends_on:
            - backend
            - frontend
        restart: always

    certbot:
        image: certbot/certbot
        volumes:
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/www:/var/www/certbot
        entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
        # container running forever; every 12 hours, tries to renew the certificates; if container stops, shuts down